{
    "presets": [
        [
            "@babel/preset-env", {
                "modules": false,
                "targets": {
                    "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
                },
                "forceAllTransforms":true
            }
        ],
        "@babel/preset-es2015",
        ["@babel/preset-stage-2",{"decoratorsLegacy": true}]
    ],
    "plugins": ["@babel/plugin-transform-runtime"]
}